body>footer {
    position: fixed;
    bottom: 0;
    background-color: #000;
    width: 100%;
    padding: 0.5em 1em;
    opacity: 0.8;
    /* for IE 8 */
    filter: Alpha(opacity=80);
}
body>footer>p {
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 0.8em;
    text-align: center;
}
