/*
 * Header
 */
#main>header {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding-top: 2em;
}
#main>header>* {
    display: table-cell;
}

#main>header>h1 {
    font-family: "mplus-1c-light", sans-serif;
    font-size: 1.3em;
}

#main>header>nav {
    text-align: right;
    vertical-align: middle;
}
#main>header>nav>a {
    color: #fff;
    font-size: 0.7em;
    padding: 0.5em 0.8em;
    background-color: #333;
    border-radius: 4px;
    transition: opacity 0.4s ease-in-out 0s;
    /* for older version of Firefox */
    -moz-transition: opacity 0.4s ease-in-out 0s;
    /* for older version of Safari */
    -webkit-transition: opacity 0.4s ease-in-out 0s;
    /* for Firefox's animate auto property probrem */
    opacity: 1;
    /* for Safari's GPU probrem */
    -webkit-font-smoothing: antialiased;
}
#main>header>nav>a:hover {
    opacity: 0.8;
    filter: Alpha(opacity=80);
}

/*
 * Main column 1
 */
#col1>nav {
    font-family: "Nunito", sans-serif;
    font-size: 2.3em;
    margin: 1em 0;
}
#col1>nav>ul {
    display: table;
    table-layout: fixed;
    width: 100%;
}
#col1>nav>ul>li {
    display: table-cell;
    height: 10.9em;
    text-align: right;
    vertical-align: top;
}
#col1>nav>ul>li+li {
    padding-left: 0.2em;
}
#col1>nav>ul>li>a {
    display: block;
    color: #fff;
    height: 9.9em;
    padding: 0.5em 0.5em 0.5em 0;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: opacity 0.4s ease-in-out 0s;
    /* for older version of Firefox */
    -moz-transition: opacity 0.4s ease-in-out 0s;
    /* for older version of Safari */
    -webkit-transition: opacity 0.4s ease-in-out 0s;
    /* for Firefox's animate auto property probrem */
    opacity: 1;
    /* for Safari's GPU probrem */
    -webkit-font-smoothing: antialiased;
}
#col1>nav>ul>li>a:hover {
    opacity: 0.8;
    /* for IE 8 */
    filter: Alpha(opacity=80);
}
#col1>nav>ul>li>a>span {
    font-size: 0.74em;
}
@media screen and (max-width: 650px) {
    #col1>nav>ul>li {
        display: block;
        height: 5em;
    }
    #col1>nav>ul>li>a {
        height: 4em;
    }
    #col1>nav>ul>li+li {
        padding-left: 0em;
        padding-top: 0.2em;
    }
}
#about {
    background-image: url("img/nav_about.jpg");
}
#contact {
    background-image: url("img/nav_contact.jpg");
}
#blog {
    background-image: url("img/nav_blog.jpg");
}

/*
 * Main column 2
 */
#col2 {
    width: 100%;
    height: 18.8em;
    margin-bottom: 3em;
}
#col2>* {
    width: 49.61111%;
    height: 100%;
    float: left;
    vertical-align: top;
}
#col2>*+* {
    padding-left: 0.77777777%;
}
@media screen and (max-width: 650px) {
    #col2 {
        height: auto;
    }
    #col2>* {
        float: none;
        height: 18.8em;
        width: 100%;
    }
    #col2>*+* {
        padding-left: 0;
        padding-top: 2em;
    }
}

#col2>aside>* {
    height: inherit;
    width: 100% !important;
}

#col2>section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
}
#col2>section>div {
    padding: 1.125em;
}
#col2>section>div>h1 {
    font-family: "Nunito", sans-serif;
    font-size: 2.3em;
    color: #fff;
    /* for safari's GPU probrem */
    -webkit-font-smoothing: antialiased;
}
#col2>section>div>section {
    padding: 1em;
}
#col2>section>div>section>h1 {
    color: #fff;
    font-size: 1.1em;
    padding-bottom: 1em;
    text-align: center;
}
#col2>section>div>section>p {
    color: #1c2e40;
    font-size: 0.8em;
    text-indent: 1em;
    text-align: justify;
}
