/*
 * Grobal
 */
#main {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 3em;
}

/*
 * Header
 */
#main>header {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding-top: 2em;
}
#main>header>* {
    display: table-cell;
}

#main>header>h1 {
    font-size: 1.4em;
}

#main>header>nav {
    text-align: right;
    vertical-align: center;
}
#main>header>nav>a {
    color: #fff;
    font-size: 0.7em;
    padding: 0.5em 0.8em;
    background-color: #333;
    border-radius: 4px;
    transition: opacity 0.4s ease-in-out 0;
}
#main>header>nav>a:hover {
    opacity: 0.8;
}

/*
 * Main column 1
 */
#col1>nav {
    font-family: 'Nunito', sans-serif;
    font-size: 2.3em;
    margin: 1em 0;
}
#col1>nav>ul {
    display: table;
    table-layout: fixed;
    width: 100%;
}
#col1>nav>ul>li {
    display: table-cell;
    height: 10.9em;
    text-align: right;
    vertical-align: top;
}
#col1>nav>ul>li+li {
    padding-left: 0.2em;
}
#col1>nav>ul>li>a {
    display: block;
    color: #fff;
    height: 9.9em;
    padding: 0.5em 0.5em 0.5em 0;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.4s ease-in-out 0;
}
#col1>nav>ul>li>a:hover {
    opacity: 0.8;
}
@media screen and (max-width: 650px) {
    #col1>nav>ul>li {
        display: block;
        height: 5em;
    }
    #col1>nav>ul>li>a {
        height: 4em;
    }
    #col1>nav>ul>li+li {
        padding-left: 0em;
        padding-top: 0.2em;
    }
}
#about {
    background-image: url("img/about.jpg");
}
#events {
    background-image: url("img/events.jpg");
}
#contact {
    background-image: url("img/contact.jpg");
}

/*
 * Main column 2
 */
#col2 {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 18.8em;
    margin-bottom: 3em;
}
#col2>* {
    display: table-cell;
    height: 100%;
    vertical-align: top;
}
#col2>*+* {
    padding-left: 0.4375em;
}
@media screen and (max-width: 650px) {
    #col2 {
        height: auto;
    }
    #col2>* {
        display: block;
        height: 18.8em;
    }
    #col2>*+* {
        padding-left: 0;
        padding-top: 2em;
    }
}

#col2>aside>* {
    height: inherit;
    width: 100%;
}

#col2>section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}
#col2>section>div {
    padding: 1.125em;
}
#col2>section>div>h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 2.3em;
    color: #fff;
}
#col2>section>div>article {
    padding: 1em;
}
#col2>section>div>article>h1 {
    color: #fff;
    font-size: 1.1em;
    padding-bottom: 1em;
    text-align: center;
}
#col2>section>div>article>p {
    color: #1c2e40;
    font-size: 0.8em;
    text-indent: 1em;
    text-align: justify;
}

/*
 * Footer
 */
body>footer {
    position: fixed;
    bottom: 0;
    background-color: #000;
    width: 100%;
    padding: 0.5em 1em;
    opacity: 0.8;
}
body>footer>p {
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 0.8em;
    text-align: center;
}
