/*
 * Grobal
 */
#main {
    width: 90%;
    max-width: 900px;
    margin: 2em auto 0 auto;
}

/*
 * Header
 */
#main>header {
    display: table;
    table-layout: fixed;
    width: 100%;
}
#main>header>* {
    display: table-cell;
}
#main>header>h1 {
    font-size: 1.3em;
}
#main>header>nav {
    text-align: right;
    vertical-align: center;
}
#main>header>nav>a {
    font-size: 0.7em;
    padding: 0.5em 0.8em;
    background-color: #ecf0f1;
    box-shadow: 1px 1px 0 0 #95a5a6;
    border-radius: 5px;
}
#main>header>nav>a:hover {
    background-color: #dce0e1;
    box-shadow: 1px 1px 0 0 #859596 inset;
}

/*
 * Main navigation
 */
#main>section>nav {
    font-family: 'Nunito', sans-serif;
    font-size: 2.3em;
}
#main>section>nav>ul {
    display: table;
    table-layout: fixed;
    width: 100%;
}
#main>section>nav>ul>li {
    display: table-cell;
    height: 10.9em;
    padding: 0.1em;
    text-align: right;
    vertical-align: top;
}
#main>section>nav>ul>li>a {
    display: block;
    color: #fff;
    height: 9.9em;
    padding: 0.5em 0.5em 0.5em 0;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.4s ease-in-out 0;
}
#main>section>nav>ul>li>a:hover {
    opacity: 0.8;
}
@media screen and (max-width: 768px) {
    #main>section>nav>ul>li {
        display: block;
        height: 5em;
    }
    #main>section>nav>ul>li>a {
        height: 4em;
    }
}
#about {
    background-image: url("img/about.jpg");
}
#events {
    background-image: url("img/events.jpg");
}
#contact {
    background-image: url("img/contact.jpg");
}

/*
 * Footer
 */
#main>footer {
    height: 18.8em;
    margin-bottom: 3em;
}
#main>footer>* {
    display: inline-block;
    float: left;
    width: 100%;
    max-width: 446px;
    height: inherit;
    margin: 1em 0;
}
#main>footer>aside {
    margin-right: 0.5em;
}
#main>footer>aside>* {
    height: inherit;
}
#main>footer>section {
    background-color: #34495e;
    border-radius: 5px;
}
