article.contents {
    padding: 0 2em;
    margin: 3em 0;
}
article.contents>h1 {
    font-size: 1.3em;
    padding-bottom: 1.1em;
}
article.contents p {
    font-size: 0.8em;
    text-align: justify;
}

/*
 * Text with image
 */
article.contents.image>div {
    display: table;
    width: 100%;
    margin: 0 0 3em 0;
}
article.contents.image>div>div {
    display: table-cell;
    vertical-align: middle;
}
article.contents.image.right>div>div:last-child,
article.contents.image.left>div>div:first-child {
    width: 40%;
    text-align: center;
}

article.contents.image.right>div>div:first-child {
    padding-right: 2em;
}
article.contents.image.left>div>div:last-child {
    padding-left: 2em;
}
article.contents.image>div>div>p {
    margin: 0.6em 0;
}
article.contents.image.right>div>div:last-child>img,
article.contents.image.left>div>div:first-child>img {
    display: inline-block;
    max-width: 85%;
    max-height: 13em;
    border-radius: 7px;
}

/*
 * Table
 */
article.contents.table>table {
    width: 90%;
    font-size: 0.8em;
    margin: 0 auto 3em auto;
    box-shadow: 0 0 2px 0 #aaa;
}
article.contents.table>table>tbody>tr>th {
    min-width: 3em;
}
article.contents.table>table>tbody>tr:nth-of-type(2n) {
    background-color: #ecf0f1;
}
article.contents.table>table>tbody>tr>* {
    padding: 0.6em;
    border: 2px solid #fff;
}

/*
 * Form
 */
article.contents.form>form {
    width: 60%;
    margin: 2em auto;
}
article.contents.form>form>* {
    display: block;
    font-size: 0.8em;
}
article.contents.form>form>label {
    margin-top: 1.5em;
}

@media screen and (max-width: 650px) {
    article.contents.image>div>div {
        display: block;
        padding: 0 !important;
    }
    article.contents.image.right>div>div:last-child,
    article.contents.image.left>div>div:first-child {
        text-align: center;
        margin-top: 2em;
        width: 100%;
    }
    article.contents.image>div>div>img {
        width: 100%;
        max-height: 100% !important;
    }
}
